body {
  background-color: bisque;

  div {
    margin: 1rem;

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      gap: 3rem;
    }
  }
}
