.container {
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;

  .price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h3 {
      color: white;
      padding: 0.6rem;
      font-size: 1.2rem;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      z-index: 1;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: contrast(80%);
  }

  h2 {
    text-align: center;
    color: white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    position: absolute;
    bottom: -20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 100%;
    left: 100%;
  }

  &:hover {
    $theme: 1;

    @if $theme==1 {
      h2 {
        transform: translateX(-100%);
        transition: ease 0.7s;
      }
      img {
        filter: contrast(100%);
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;

    .price {
      h3 {
        padding: 2rem;
        font-size: 3rem;
      }
    }
  }
}
